
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'url_index' %}">Agenda</a>
       <ul class="nav navbar-nav navbar-right nav-accounts">
            {% if user.is_authenticated %}
                <li>Olá {{user}}</li>
                <li><a href="{% url 'url_logout' %}">sair</a></li>
            {% else %}
                <li><a href="{% url 'url_cadastro' %}">cadastrar</a></li>
                <li><a href="{% url 'url_login' %}">login</a></li>
            {% endif %}
       </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>